@import "~bootstrap/scss/bootstrap";
@import "../Styles/variables";
@import "../Styles/mixins";


.div {
    background-color:$body-background-color;
    position: $body-position;
    max-width: $body-max-width;
    height: $body-height;
    margin: $body-margin;
    align-items: $body-align-items;
}
