.h-1 {
    color: #0275d8;
    font-size: 35px;
    padding-left: 20px;

}

.me-auto {
    padding-right: 10px;
    display: flex;
    text-align: right;
}

.h-2{
    color: #f7f7f7 !important;
}

.h-2:focus, .h-2:hover, .h-2:active{
    color: #7e7e7e !important;
}

#basic-nav-dropdown{
    color: white;
}